.contacts {
    position: relative;

    &__container {
        padding-bottom: 53px;


    }

    &__label {
        position: absolute;
        top: 90px;
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        text-transform: uppercase;
        padding: 10px 0;
        background: #fff;
        color: #000;
        writing-mode: vertical-lr;
        transform: translateX(-50%) rotate(-180deg);

    }

    &__item {
        padding: 100px 0 0;
        margin-left: 65px;
        font-size: 14px;
        line-height: 20px;
        text-transform: uppercase;

        a {
            color: #000;
            text-decoration: none;

            &:hover {
                color: #7f7f7f;
            }
        }

    }

    &__data {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        gap: 50px;
        padding-left: 90px;

        .personal,
        .socials {
            display: flex;
            flex-direction: column;
            align-content: center;

            a {
                margin-left: 20px;
                line-height: 25px;
            }

        }


    }

    .feed-form {
        width: 447px;

        .form-group {
            margin-bottom: 15px;
        }

        &__input,
        &__textarea {
            width: 100%;
            height: 50px;
            padding: 5px 20px;
            border: solid 1px #000;
            outline: 0;
            display: block;
            text-transform: uppercase;
        }

        &__textarea {
            height: auto;
            resize: none;
        }
    }

    .button {
        border: none;
        background: transparent;
        outline: 0;
        font-size: 14px;
        line-height: 16px;
        text-transform: uppercase;

        &:hover {
            color: #7f7f7f;
        }

        &::before {
            content: '';
            display: inline-block;
            width: 320px;
            height: 1px;
            background: #000;
            vertical-align: middle;
            margin-right: 15px;
        }
    }

    &__menu {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 24px;
        margin-top: 53px;

        padding: 0;

        li {
            list-style-type: none;

            a {
                font-size: 14px;
                line-height: 16px;
                color: #000;
                text-decoration: none;
                text-transform: uppercase;

                &:hover {
                    color: #7f7f7f;
                }
            }
        }
    }

    .second-logo {
        display: none;
    }


    &__bottom-line {
        width: 100%;
        border-top: solid 1px #000;
        margin: 33px 0 0;
    }

    &__second-label {
        display: flex;
        justify-content: flex-end;
        transform: translateY(-50%);

        a {
            font-size: 14px;
            line-height: 16px;
            text-align: center;
            text-transform: uppercase;
            padding-left: 40px;
            background: #fff;
            color: #000;
            text-decoration: none;

            &:hover {
                color: #7F7F7F;

            }

        }
    }
}

@media (max-width: 1199px) {

    .contacts {
        &__item {
            margin-left: 0;
        }
    }
}


@media (max-width: 991px) {

    .contacts {
        &__item {
            padding-top: 64px;
        }

        .row {
            flex-direction: column;
            align-items: center;
            margin: 0;
            padding: 0;
        }

        &__form {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            margin-top: 55px;
            padding-left: 90px;
        }
    }
}

@media (max-width: 767px) {
    .contacts {

        &__data {
            padding-left: 20px;

            .logo {
                display: none;
            }
        }

        &__form {
            margin-top: 55px;
            padding-left: 20px;
        }

        .menu-logo_box {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: 15px;
        }

        &__menu {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 12px;
            margin-top: 45px;
            padding-left: 15px;
        }

        .second-logo {
            display: block;
        }

        .button {
           
            &::before {
                
                width: 150px;
                height: 1px;
               
            }
        }
    }
}

@media (max-width: 575px) {
    .contacts {
        .feed-form {
            width: 260px;
        }
    }
}