 * {
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 400;
     box-sizing: border-box;
 }

 

 
 .container {
     position: relative; 
     height: 100%;
     padding: 0 30px;
      
     
     
    .body_line {
        width: 1px;
        height: 100%;
        background-color: #fff;
        position: absolute;
        top: 0;
        left: 30px;

        &__black {
            background-color: #000;
        }
     
     }


 }

 

 h1 {
     font-size: 16px;
     line-height: 19px;
     text-align: center;
     text-transform: uppercase;
     color: #FFFFFF;
 }