 .promo {
     height: 100vh;
     background-color: #000;

     .container {
         
         position: relative;
         height: 100%;
     }

     .vertical__line {
        width: 1px;
        height: 166px;
        background-color: #fff;
        margin: 0 auto;
     }

     .toogle_menu {
         position: absolute;
         top: 50px;
         transform: translateX(-50%);
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         width: 22px;
         height: 22px;
         gap: 3px;
         background: #000;
         border: solid 1px #fff;
         box-shadow: none;
         outline: 0 !important;

         span {
             display: block;
             width: 9px;
             height: 1px;
             background: #fff;
             transition: all 0.4s;

         }


     }

     .languages {
         display: flex;
         flex-direction: row;
         justify-content: flex-end;
         position: absolute;
         top: 50px;
         right: 30px;
         gap: 5px;

         a {
             font-weight: 400;
             font-size: 14px;
             color: #FFFFFF;
         }

         span {
             display: flex;
             align-self: center;
             font-weight: 400;
             font-size: 11px;
             color: #FFFFFF;
         }
     }

     &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 60px 0 60px;
        
     }

     &__logo {
        margin: 0 auto;
     }
 }