.services {

    background-color: #000;
    position: relative;

    &__container {
        padding-bottom: 100px;
    }

    &__tabs {
        list-style-type: none;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 13px;
        padding: 35px 0 30px;
        color: #fff;
    }

    &__tab {
        color: #7F7F7F;

        &:hover {
            color: #fff;
        }

        &_active {
            color: #fff;


        }
    }

    &__label {
        position: absolute;
        top: 90px;
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        text-transform: uppercase;
        padding: 10px 0;
        background: #000;
        color: #fff;
        writing-mode: vertical-lr;
        transform: translateX(-50%) rotate(-180deg);

    }

    &__content {
        display: none;

        &_active {
            display: block;
            max-width: 760px;
            background: #E5E5E5;
            margin: 0 auto;
            margin-top: 50px;
            padding: 35px;

            h1 {
                font-size: 20px;
                line-height: 23px;
                text-transform: uppercase;
                color: #000000;
                margin-bottom: 20px;
            }

            p {
                font-size: 16px;
                line-height: 20px;
                color: #000000;
            }
        }
    }

}

@media (max-width:991px) {

    .services {

        &__container {
            padding-bottom: 50px;
        }

        &__content {

            &_active {
                margin: 0 20px;
            }
        }

        &__tabs {
            padding: 20px 0 15px;
        }
    }

}